<!DOCTYPE html>
<html>
    <head>
        <title>Localization Resource Editor</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="@Url.Content("~/content/css/main.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="container">
            <div id="controls">
                <h4>Visible Columns</h4>
                <div id="columns"></div>
            </div>
            <div id="resources">
                <table id="list-resources">
                    <thead></thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>

        <!-- JS Templates -->
        <script type="text/template" id="listing-header">
            <th data-id="<%=id%>" class="column-selector<%=(Sort) ? ' ' + sort : ''%>">
                <%=ColumnName%>
            </th>
        </script>

        <script type="text/template" id="resource-row">
            <% _.each(keys, function(key) { %>
                 <td><%=key.value%></td>
            <%});%>
        </script>

        <script type="text/template" id="column-picker">
            <div class="column-selector<%=(Enabled) ? '' : ' disabled'%>">
                <input type="checkbox" id="column-<%=id%>" data-el="<%=id%>" <%=(Enabled) ? 'checked="checked"' : ''%>/>
                <label for="column-<%=id%>"><%=ColumnName%></label>
            </div>
        </script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/underscore.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/backbone.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/main.js")"></script>

        <!-- View Data for JS -->
        <script type="text/javascript">
        
        </script>
    </body>
</html>

