body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/foil.png) repeat left top;
    font-size: 75%;
    font-family: "Verdana";
}

h4 {
    background: none repeat scroll 0 0 #666666;
    color: #eee;
    margin: 0;
    padding: 0 7px 7px 7px;
    text-shadow: 0 1px #000;
}

#global {
    margin: 0 35px;
}

#container {
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#resources {
    position: absolute;
    top: 58px;
    overflow: auto;
    left: 265px;
    bottom: 35px;
    right: 35px;
}
   
#controls {
    position: absolute;
    width: 190px;
    bottom: 35px;
    top: 58px;
    left: 35px;
    background: #666;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}
        
#columns {
    overflow: auto;
    width: 190px;
    border: 1px solid #444;
}
        
.column-selector {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    background-color: #ccc;
    padding: 6px 0;
    background-image: url(../img/eye.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}

.column-selector input {
    display: none;
}
        
.column-selector.disabled {
    background-color: #bbb;
    border-top: 1px solid #aaa;
    background-image: url(../img/eye-disabled.png);
}
        
.column-selector label {
    color: #333;
    padding-left: 30px;
    text-shadow: #ddd 0px 1px 0px;
}
        
.column-selector.disabled label {
    color: #666;
    text-shadow: none;  
}
        
.report {
    background: none repeat scroll 0 0 white;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
        
td {
    border: 1px solid #DDDDDD;
    padding: 5px 10px;
    vertical-align: top;
}
        
th {
    background: none repeat scroll 0 0 #CCCCCC;
    font-weight: bold;
    padding: 5px 10px;
    vertical-align: top;
    border-bottom: 1px solid #999;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
}
        
.sort0, .sort1 {
    border-bottom: 2px solid #555;
}

.report tr:nth-child(even) td {
    background-color: #e6eef2;
}

.limit {
    max-width: 100px;
    max-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#magnifier {
    background: #666;
    padding: 25px;
    color: white;
    display: none;
    position: absolute;
}