body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/foil.png) repeat left top;
    font-size: 75%;
    font-family: "Verdana";
}

h4 {
    background: none repeat scroll 0 0 #666666;
    color: #eee;
    margin: 0;
    padding: 0 7px 5px 7px;
    text-shadow: 0 1px #000;
}

#global {
    margin: 0 35px;
}

#container {
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#resources {
    position: absolute;
    top: 58px;
    overflow: auto;
    left: 265px;
    bottom: 35px;
    right: 35px;
}
   
#controls {
    width: 194px;
    background: #666;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    margin: 20px 0 0 20px;
    -moz-box-shadow: 0px 1px 3px 1px #ccc;
    -webkit-box-shadow: 0px 1px 3px 1px #ccc;
    box-shadow: 0px 1px 3px 1px #ccc;
}
        
#columns {
    overflow: auto;
    border: 1px solid #444;
}
        
.column-selector {
    display: block;
    color: #000;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    background-color: #ccc;
    padding: 5px 0 5px 30px;
    background-image: url(../img/eye2.png);
    background-repeat: no-repeat;
    background-position: 7px center;
    text-shadow: #ddd 0px 1px 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.column-selector input {
    display: none;
}
        
.column-selector.disabled {
    color: #666;
    background-color: #bbb;
    border-top: 1px solid #aaa;
    background-image: url(../img/eye2-disabled.png);
    text-shadow: none;  
}
        
.column-selector label {
    color: #000;
    padding-left: 30px;
    text-shadow: #ddd 0px 1px 0px;
}
        
.column-selector.disabled label {
    color: #666;
}
        
.report {
    background: none repeat scroll 0 0 white;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
        
td {
    border: 1px solid #DDDDDD;
    padding: 5px 10px;
    vertical-align: top;
}
        
th {
    background: none repeat scroll 0 0 #CCCCCC;
    font-weight: bold;
    padding: 5px 10px;
    vertical-align: top;
    border-bottom: 1px solid #999;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
}
        
.sort0, .sort1 {
    border-bottom: 2px solid #555;
}

.report tr:nth-child(even) td {
    background-color: #e6eef2;
}

.report .key-column {
    font-weight: bold;
}

.limit {
    max-width: 100px;
    max-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#magnifier {
    background: #666;
    padding: 8px;
    display: none;
    position: absolute;
    z-index: 1;
    width: 224px;
    height: 90px;
}

#magnifier textarea {
    font: bold 12px/16px georgia;
    display: block;
    width: 218px;
}